.holds_container {
  width: 10em;
  height: 15em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  justify-content: space-around;
  align-content: space-around;
}

.hold {
  width: 1em;
  height: 1em;
  background-color: black;
  cursor: move;
}
