.holds_container {
  width: 3em;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  justify-content: space-around;
  align-items: center;
}

.hold {
  width: 1em;
  height: 1em;
  margin: 0.5em;
  background-color: black;
  cursor: move;
}
