#nav-dropdown {
  color: #f0eae3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar-light {
  color: white;
}
.dropdown-toggle {
  display: none;
}

.dropdown-toggle::after {
  display: none;
}

#navbar {
  background-color: #343a40;
}

#logo {
  color: #e45720;
  font-size: 1.35em;
}

.dropdown-toggle {
  display: flex;
}
.dropdown-item {
  color: #e45720;
  text-align: center;
}

.dropdown-menu.show {
  background-color: #343a40;
}
