#nav-dropdown {
  color: #f0eae3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#create-route {
  color: #f0eae3;
}

.navbar-light {
  color: white;
}

#navbar {
  background-color: #070707;
}

#logo {
  color: #e45720;
}

.dropdown-toggle {
  display: flex;
}
.dropdown-item {
  color: #f0eae3;
}

.dropdown-menu.show {
  background-color: #070707;
}
