.routeTile {
  border: 1px solid;
  padding: 1em;
  margin: 0.5em 0 0.5em 0;
  width: 90%;
  position: relative;
}

.route-tile-buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0.5em;
  left: 60%;
  width: 40%;
}

.liked {
  color: tomato;
}

.like-button:hover {
  cursor: pointer;
}

.complete-button:hover {
  cursor: pointer;
}

.complete {
  color: greenyellow;
}

.route-tile-row {
  display: flex;
  align-items: center;
}
