.routeTile {
  border: 1px solid;
  margin: 1em;
  width: 20em;
  position: relative;
  flex-grow: 1;
  max-width: 20em;
  height: 11em;
}

.route-tile-buttons {
  position: absolute;
  justify-content: space-around;
  top: 0.5em;
  left: 60%;
  width: 40%;
}

.route-metrics {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.liked {
  color: tomato;
}

.like-button:hover {
  cursor: pointer;
}

.complete-button:hover {
  cursor: pointer;
}

.complete {
  color: greenyellow;
}

.route-tile-row {
  display: flex;
  align-items: center;
}

.complete-icon {
  border: 1px solid;
  border-radius: 50%;
}

i:hover {
  cursor: pointer;
}

.btn-info {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
}
